.content {
  padding: 50px 100px;
}

/* =============================== */
/* ======== Slider Styles ======== */
/* =============================== */

.slider {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.slider ul {
  display: flex;
  gap: 2em;
  font-family: "Montserrat";
  margin: 0px 5px;
}

.slider-line {
  display: flex;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--dark-grey);
}

.slider-line .indicator {
  width: calc(100% / 8);
  height: 4px;
  border-radius: 2px;
  background-color: var(--red);
}

/* ================================ */
/* ======== Matches Styles ======== */
/* ================================ */

.matches {
  font-family: "Montserrat";
}

.match {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.match p {
  font-size: 23px;
}

.team span {
  font-size: 20px;
}

.match2 {
  align-items: center;
}

.match .score {
  font-size: 18px;
  padding: 2px 20px;
  border-radius: 25px;
  background-color: var(--tomato);
}
